* {
    padding: 0px;
    margin: 0px;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

body {
    background: url(./assets/weatherwp.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hover:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.65);
    transition: all 0.15s ease;
}

.left {
    height: 215px;
    width: 300px;
    position: absolute;
    top: 40px;
    left: 60px;
    padding: 15px;
    text-align: center;
}

input {
    margin-top: 8px;
    height: 25px;
    width: 200px;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 2px;
    border-style: none;
    margin-right: 5px;
    color: black;
}

.search-history {
    width: 280px;
    height: 130px;
    position: relative;
    left: 10px;
    top: 10px;
}

.search-history p {
    margin-bottom: 9px;
    color: black;
}

button {
    border-radius: 4px;
    color: black;
    padding: 3px;
    border-style: none;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 5px black;
}

.current {
    border-radius: 10px;
    width: 1010px;
    height: 215px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 40px;
    right: 60px;
    padding: 15px 30px 0 30px;
}

#current-header {
    font-size: 42px;
    text-align: center;
}

#current-date {
    font-size: 16px;
    text-align: center;
}

.current-sections {
    display: inline-block;
    margin: 50px 33px 0 33px;
    font-size: 38px;
}

.forecast-header {
    font-size: 24px;
    text-align: center;
    padding: 20px;
}

main p {
    padding-left: 20px;
    font-size: 18px;
    margin-top: 25px;
}

main {
    position: absolute;
    left: 35px;
    bottom: 40px;
}

.box {
    width: 240px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: inline-block;
    margin: 0px 25px 0px 25px;
}

.main-temp {
    text-align: center;
    font-size: 42px;
    z-index: 100;
}
